/* ==== RESET ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* ==== GERAL ===== */
body {
  background-color: #f2f2f0;
}
input,
button {
  padding: 8px;
}
button {
  cursor: pointer;
  border: none;
  background-color: #8f9fbf;
  font-weight: bold;
  text-transform: uppercase;
  color: #010d26;
}

/* ==== HEADER ===== */
header {
  background-color: #425b8c;
  padding: 16px 0;
  color: #010d26;
  display: flex;
  justify-content: center;
  gap: 16px;
  border-bottom: 16px solid #011640;
}
header h1 {
  text-transform: uppercase;
  font-style: italic;
}

/* ==== FORMULARIO ===== */
form {
  background-color: #8f9fbf;
  padding-block: 24px;
  text-align: center;
}
form h2 {
  margin-bottom: 12px;
}
form #botao-adicionar {
  background-color: #011640;
  color: #fff;
}
form #botao-cancelar {
  background-color: #bf2c1f;
  color: #fff;
}
